In [15]:
import pandas as pd
import json

In [16]:
def json_cleaning(x):
    return x.replace("\"", "").replace("'", "\"").replace("True", "true").replace('False', '"false"').replace("u\"", "\"")

In [17]:
business = pd.read_csv('yelp_academic_dataset_business.csv')
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'GoodForMeal': ""{'dessert': False, 'latenight...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"1210 8th Street SW, Unit 220","{'BusinessParking': ""{'garage': False, 'street...",fcXOEZdXYeZqnQ3lGlOXmg,"Local Services, Professional Services, Compute...",Calgary,"{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,51.041771,-114.081109,Nucleus Information Service,T2R 1L3,5,2.0,AB
3,"6955 N Durango Dr, Ste 1116","{'BusinessParking': ""{'garage': False, 'street...",f2ZWZPENViL92BrFsIgR6w,"Beauty & Spas, Hair Salons",Las Vegas,"{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'...",1,36.287312,-115.289540,Amazing Cuts,89149,116,4.5,NV
4,4 E University Dr,{},6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,NaN,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ

In [18]:
cat = business[business["categories"].notnull()]
categories = cat.categories.apply(lambda x: x.split(',')).explode().apply(lambda x: x.strip()).value_counts()
categories

Restaurants        59371
Shopping           31878
Food               29989
Home Services      19729
Beauty & Spas      19370
                   ...
Senegalese             1
Osteopaths             1
Game Meat              1
Customs Brokers        1
Calligraphy            1
Name: categories, Length: 1300, dtype: int64

In [19]:
a = business.attributes.apply(lambda x: x if x != '{}' else None)
attrib_db = pd.DataFrame(a[a.notnull()])

In [20]:
parsed_attributes = attrib_db.attributes.apply(json_cleaning).apply(lambda x: json.loads(x))

In [21]:
# parsed_attributes = pd.DataFrame(parsed_attributes.tolist())
pd.DataFrame.from_dict(parsed_attributes.values.tolist(), orient='columns')

,GoodForMeal,BusinessParking,NoiseLevel,Ambience,Music,DietaryRestrictions
0,"{'dessert': 'false', 'latenight': 'false', 'lu...","{'garage': 'false', 'street': 'false', 'valida...",loud,"{'romantic': 'false', 'intimate': 'false', 'cl...",NaN,NaN
1,NaN,"{'garage': 'false', 'street': True, 'validated...",NaN,NaN,NaN,NaN
2,NaN,"{'garage': 'false', 'street': 'false', 'valida...",NaN,NaN,NaN,NaN
3,NaN,None,NaN,NaN,NaN,NaN
4,NaN,"{'garage': 'false', 'street': 'false', 'valida...",average,"{'touristy': 'false', 'hipster': 'false', 'rom...",NaN,NaN
...,...,...,...,...,...,...
109480,NaN,"{'garage': True, 'street': 'false', 'validated...",NaN,NaN,NaN,NaN
109481,NaN,"{'garage': 'false', 'street': 'false', 'valida...",NaN,NaN,NaN,NaN
109482,NaN,"{'garage': 'false', 'street': True, 'validated...",NaN,NaN,NaN,NaN
109483,NaN,"{'garage': 'false', 'street': 'false', 'valida...",average,"{'romantic': 'false', 'intimate': 'false', 'cl...",NaN,NaN
109484,NaN,"{'garage': 'false', 'street': 'false', 'valida...",NaN,NaN,NaN,NaN

In [22]:
review = pd.read_csv('yelp_academic_dataset_review.csv')
review.head(10)

KeyboardInterrupt:

In [ ]:
tip = pd.read_csv('yelp_academic_dataset_tip.csv')
tip.head(10)

,business_id,compliment_count,date,text,user_id
0,"{'0': 'VaKXUpmWTTWDKbpJ3aQdMw', '1': 'OPiPeoJi...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 1395892284000, '1': 1369461656000, '2': ...","{'0': 'Great for watching games, ufc, and what...","{'0': 'UPw5DWs_b-e2JRBS-t37Ag', '1': 'Ocha4kZB..."

In [24]:
business_id_col = pd.DataFrame.from_dict(tip.business_id.apply(json_cleaning).apply(lambda x: json.loads(x)).to_list(),orient='columns').transpose()
print("business_id done")
compliment_count_col = pd.DataFrame.from_dict(tip.compliment_count.apply(json_cleaning).apply(lambda x: json.loads(x)).to_list(),orient='columns').transpose()
print("compliment_count done")
user_id_col = pd.DataFrame.from_dict(tip.user_id.apply(json_cleaning).apply(lambda x: json.loads(x)).to_list(),orient='columns').transpose()
print("user_id done")

business_id done
compliment_count done
user_id done

In [ ]:
def invert_guillemets(x):
    guillemet_map = {'"': "'", "'": '"'}
    return ''.join(guillemet_map.get(c, c) for c in x)

        
def spacial_json_cleaning(x):
    return pd.Series(list(x)).apply(lambda y: (y)).replace("True", "true").replace('False', '"false"').replace("u\"", "\"").replace("None", "null")

In [ ]:
# date_col = pd.DataFrame.from_dict(tip.date.apply(json_cleaning).apply(lambda x: json.loads(x)).to_list(), orient="columns").transpose()
# print("date done")
text_col = pd.DataFrame.from_dict(tip.text.apply(spacial_json_cleaning).apply(lambda x: json.loads(x)).to_list(),orient='columns').transpose()
print("text done")

TypeError: the JSON object must be str, bytes or bytearray, not Series

In [ ]:
# pd.options.display.max_colwidth = 1000

In [25]:
df_tip = pd.concat([business_id_col, compliment_count_col, user_id_col], axis=1)

In [26]:
df_tip

                              0  0                       0
0        VaKXUpmWTTWDKbpJ3aQdMw  0  UPw5DWs_b-e2JRBS-t37Ag
1        OPiPeoJiv92rENwbq76orA  0  Ocha4kZBHb4JK0lOWvE0sg
2        5KheTjYPu1HcQzQFtm4_vw  0  jRyO2V1pA4CdVVqCIOPc1Q
3        TkoyGi8J7YFjA6SbaRzrxg  0  FuTJWFYm4UKqewaosss1KA
4        AkL6Ous6A1atZejfZXn1Bg  0  LUlKtaM3nXd-E4N4uOk_fQ
...                         ... ..                     ...
1029042  aS1qJzTGyluRT2tJ09Jbaw  1  mkbx55W8B8aPLgDqex7qgg
1029043  ZeeWNTA3wpabS_0Y1We7DA  0  yx_38-qpzJU2Oqb5P3QBqA
1029044  3GEEy7RP6e4bT4LAiWFMFQ  0  Lu7d-uVVEYZrmxtX0gI8hQ
1029045  OMRYQihVjqqzjoNoQgyhgQ  2  mkbx55W8B8aPLgDqex7qgg
1029046  wEoaR5WKNtLOLyR1z0TYdg  0  2Ag223bd4OtQOnc-F067rQ

[1029047 rows x 3 columns]

In [ ]:
user = pd.read_csv('yelp_academic_dataset_user.csv')

In [ ]:
user.head(10)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"['wSByVbwME4MzgkJaFyfvNg', 'cpQmAgOWatghp14h1pn1dQ', 'cBFgmOCBdhYa0xoFEAzp_g', '0HicMOOs-M_gl2eO-zES4Q', 'vRP9nQkYTeNioDjtxZlVhg', 'uWhC9eof98zPkvsalgaqJw', 'yW9QjWY0olv5-uRKv3t_Kw', 'VrD_AgiFvzqtlR15vir3SQ', 'M1_7TLi8CbdA89nFLlH4iw', 'EnchhymLYMqftCRjqvVWmw', 'Ce49RY8CKXVsTifxRYFTsw', 'NfU0zDaTMEQ4-X9dbQWd9A', 'PkmsJsQ8FIZe8eh8c_u96g']",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"['xh9VekYUo5CgVBxySQ70Tw', 'L3Z-WvSvYXvTf-lzSTnxfg', 'ZNKtqpTRPmheANk4iS2FLA', 'SZRoSJVTKTsJmqBmyXnZYw', 'dZZ9jISk8hXq4wla-mv8kw', 'yi9BEjPzxdJGyGrFb4C4tQ', 'MnAtqEoSkx2vu59E7PviMg', 'nohGLNZuqI02JhO3yA-Rbg', 'Yd5LCLEtGUSk46uHK2hlaA', '-BSENVNYH6xcWPmKn_v2Xw', 'tmYCV82a1hnuPFI5WZMUYg', '0eXgd_CDOFCTvNDBOSR1wQ', 'g8knU3D8ctmJSoyNSSzzBA', 'eJSEJKu5d5_K5Qd9sTfVUA', '44v2F8FBzhTBr-IyCPoPng', 'FaIijOIoIev-iGtPVk45Qw', 'kdEzaLv2vquZh-5UEzir5A', '_0R069Ziv10uhNPrIO-xlA', '1l_O3VEl9TV_JjKAzzyz0Q', 'JaYdmeOezhSevBMWltyN7Q', 'RBZ_kMjowV0t6_nv2UKaDQ', 'aITgyxHw8X-kn11AgflbWg', 'LGDWFnDpXFqcXf0FIL1Thw', 'pSF-V0hAL4mYo0-hFAEbVg', 'EzUYBHVDte8g-PN4S8Vh6Q', 'evGeOv6zB5BysUfwQjaeiw', '1IJCsmxte3PkGXtfqX8-qw', 'y3RdPBhtMvxwXKsEp7OFHw', '1uZdr0tLT0fxY0r44jn5jA', '4Jsw-cZTxWN605Ep4q2wOQ', 'sSfoV_z_qJp3j73dWHi3aA', 'gKH7cQSB0XyXu4gIWrmk8A', 'vQNu6bOB6hJVIK-LwTa92g', 'C9o3uRt0Xu9S4u_JJR3imQ', 'OxYXdo5tEY3pUWwkhc75cw', 'qsVblse2olvoa2uSmaXiYg', '1eNvc5iH5SDlcs659WajNw', 'UpOuHhBM36ND0SNFh-jLBg', 'zJr3ti...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"['1IQ_d1RuMj8iIpcF2CDohA', 'lwhksSpgIyeYZor_HlN93w', 'pSY2vwWLgWfGVAAiKQzMng', 'J8FKQM1yvbwoKcuWRNh1yw', 'bLbSNkLggFnqwNNzzq-Ijw', '4N-HU_T32hLENLntsNKNBg', '5OllWsrKJsYo3XQK6siRKA', 'v281gE-nk3jozr_5hWFAug', 'vNGs6_DP7ZbtPwX7finVIQ', 'u_wqt9RshdZsoj8ikLqoEQ', 'haSh72Q0MsQZUpWPeVgp0Q']",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"['mXWEAK4ns5hdsD0b5EW_TQ', '_5kP7S0sLG2YNCJ9kMZ1iw', 'GqA_YgmWaePk9TDS_RfbCQ', 'ek150CKNUDMCSGWiDB_vlw', '9FbxmUn33UKu9ovTu5d2Bg', 'rWxJKFRojGJ6GgU9WnXWHA', 'HeJiXwmXqfvXAOgkxKfh6A', 'aKFKxKPgfcV5RtPUSxA4uQ', 'mLWv8zidSVkEFgXR8zbXBw', 'dwnmJzB03Ma_RC3krV3zHA', 'lGen6ClAnZAyyutiBU43xg', 'FmTi9fE4gB0hbBH1Pp3OVg', 'qAgyt1TtDLz2v6u0vZDj8g', 'Jmmsuc4ptDZ1eOILGvY6nQ', '3y5_7iRwQ28hRBUnQmrXiQ', 'yLksMFkK9UhG__Ze7tNpcQ', 'fqEqWj8WlJI-nn2GJdvcrw', 'eP2AN0EjkEXa5RXlIS922A', 'HSMEoFfrGzMAupoGO1F1NQ', 'BBU1yxERjkJlMqdzWOqWPg', 'oxI_WSOlkiQlxSWsU5xZ5Q', 'j8SEqzeRpQZ3C2Uh3oNSIw', 'Jqeiy63fm536pER-MDjKxQ', 'IOcpGngjyW7S98hMgJLpNQ', 'MpYZezHL8msi-hT8dG3zvA']",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"['Kw4ZuLGWYHlocofX_HFL-g', 'yuEzhI3PX4CHfCnJslHoDA', 'knUP9XZ1hD1CF7o7J-AAoQ', 'mOanh--SkJagXdsfJU3wxQ', 'kh_FXguZJv4lQ1BFSMA08g', 'WSB5PO6VYtmzaQQKaRtOWQ', 'npvTkXH5J1W1kayBLvoWqQ', 'NpZ6hMBncbIvAo4btwrvZQ', 'c4wRqAEQqM-Eex-W3o2b6w', 'GBqCVQup28CA4pUlZOFLJQ', 'PLOYtrCMUFPHQe2IbYAd5g', 'JuTNpBtxh80AqTE5z9NSPg', 'FkOmPLXOIhb6994LD389Rw', 'o_Ulw-xdw-skOC1Vlni1NA', '8qH05EClkmsmd67bwCm7_Q', 'GG9tAoEC9sMa_DokSkkImA', 'iwL_Kz0WVgTW4BFMohy80w', 'ZuVIbvRKwpL0d2DIHVAs3w', 'xEbli9JJjCpi57YmflOlOQ', 'eTXLP4lfgpZqD5r5HfKZMQ', 'U7NLhaVfOJrHb9XLsZbJnQ', 'Og1bB3jNZL_7bmgmZQ73Cw', 'zmr4gUzWiaPeEhIfeKXOvA', 'lZbotco47bHU7oE5b3d1DA', 'fFRk5I68jbUtZXzmGSII9Q', 'hncn3pyp5D3RN0-Bf6MqWA', 'LNooRhqlM6ebjgm5KT1KLA', 'FnfEXra6wyJzRUzD9ySUVg', 'd5WLqmTMvmL7-RmUDVKqqQ', 'aXpiHi7FW_wOIe7nGFRSDQ', '_cUtxCvCccwgNJzD5I0cDA', 'k8LNU4RFMX-MFgWhW1eicw', 'zvQ7B3KZuFOX7pYLsOxhpA', 'p3X4_d_u10uiLbwwzQL2Zw', 'ZTkuKoOt2vp584A-8hDvBA', 'PhUqhfyk3jdaS0Xb619RJQ', '7F7W-p8KT4skU0Hxtr4Abw', 'h4VCt8ymQPHH3Sh3ZY5WtA', 'D5WdAZ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50
5,4.20,483,44,483,350,3,46,221,195,404,...,3048,"2015,2016,2017,2018",186,"['BB9UbkH2MJxzPxprMEws7A', 'K3KMfjsCQdtwmXexqBUssw', 'mBBGHMLDDmtptNIu039RwA', '77wo69hNeqoPVBRRLzO1hw', 'KN3Ziu2TBUEBl6rHxHtf_Q', '-9I98YbNQnLdAmcYfb324Q', 'cEg_uFsiKy7cbwywAmEYxA', 'YSb8JRyI75M8FkbYWLH4UA', 'NnSczz_889Ejm3hXrquy-Q', '9ZeURNKZ-Cg-A80BDVOpdw', 'CMiAcA8s1oBQfSyqf45Uxw', 'N1skHtVWsZJaO8pm0CEjzQ', 'ksjVasSJj15qfz4vSYvZgQ', 'WD0pchQWVY5tBbPqRq4zjQ', 'VtYk2UD4Gt2NgupbO5SyBw', 'jhPAC7UyPiRFNPlNQYMMXg', 'lyECRwqhd-lhSE6Gafe4eQ', 'Hze9r06sEb-EXEFPwwBTIA', 'trAgaopRYs3-yNpSdnAvTg', '3WW_w0uI8HCRRaft0Yzv2g', '0mPoOl_Rx46jaHOG9pybzQ', 'h_yDKWk3mMu4YtWxiLjGTQ', 'QnRE07Ny1YytWBh2na4gNQ', 'Db80SCez0BdYaHdC0xmzoQ', 'yAerUZJKW7bNcYVH-Z3YXQ', 'rt3PC7WCgCKsoufmQJELfw', 'PD9ZFPvgmhA32yyQdFAznQ', 'PZgVA7yeveRZ-idKDqt3dA', 'OniLiyqsK0qKv4kptqzipg', 'dYX39kmNmzZK_1jfVZTI5w', 'sELpZpITOy9abQB3YY2Ugg', 'Yub-yG6LxPs0rm6Bv5g20Q', 'TloY8GZBxH8NSVovtghf4A', 'VExHvFxiVeHXgLkl4xZa9A', 'AJxDPGVTzefy3vSHWJchvQ', 'C2C0GPKvzWWnP57Os9eQ0w', 'NqpvvSN-rc2upO09QDEY_w', 'kYddxyOJD_vELH6Vr_ytyw', 'l8C_2L...",2424,Marilyn,214,3475,0rK89TS8xqy1wI4nYI1wfw,2011-06-23 08:05:13
6,4.39,4991,889,4991,5233,152,314,1600,428,3635,...,15319,"2006,2007,2008,2009,2010,2011,2012,2013",696,"['nsawcqioX0NDmqsDsM8L4w', 'gR7is-YzJRnRdQ0AhbiWHA', 'UKSw9kfoBfdatSMUl-jGnA', 'NnSczz_889Ejm3hXrquy-Q', 'OTA-qLc1v4M9hA7rJXiCTQ', '77vChS-bKAkYnFT67iT0tg', 'k7oCOPrtQ-2UcU2JP-cR-Q', '17dx_x9W_7QBT-3oiQQEQQ', 'nnw3o9TS5SDBk4htLWjPQQ', 'l7FTzMsRpkvyIZNVFyaxGw', 'wz1_t7H_s7mOVeoIb7_qfA', 'SqFMB4kvBCRZtyySDsG1eg', '1Y5sVYKQACmepTltxEby2A', 'zRqlb75L1lRIBoXWeypx2A', 'dzbKw5YfBC4wnx-wqME6kw', 'VrRUmL7jX867Vhnf0nE6QQ', 'kzx_zRM8wz7CNyUAKrjmSQ', 'EFa2cyL13XY85o2bw4pajQ', '0gEDwhSUIWIBz23MbLYMig', 'B8D9WyakYaObjA2icM7GGw', 'pDMXTWofWI_DtBi2QGrQog', '4IjzfbO7XKFNWWVufHNhww', 'WKrCRSv5mLAFVPJOJSmfWg', 'ehIpQo8mQHxhNIq7WAwKFw', 'G-KKZ_DT1jAF_gNUlGFFQg', 'r810SS5lW3gqpdvvF5S_xw', 'jrMxBHW3SlUGVGYWvPsHWA', '5Y5KbsI5buMcNh2hTFaRpA', 'M9puGD3VU5FuhE60HklCvg', '3-onpMy1GXPYZ-ruhvT5UQ', 'rCx7tb3toOJUsvdOeqYY0g', 'jcUrzU2YgpzPXFp6XIgcGg', '81rRQu76UIZXQ3khliHvmA', 'EKBat5jR0PQDk-pUXvBvVQ', 'Ez5XvlmwbZaUaKf8lp6fUw', 'wMRkYiG_kDg243-7pMOgRg', 'qtcybz0qX-tNnWGyf7vjng', '2iSBJHVMNsolJ3AH1g_D7A', 'z-oO1t...",19356,Keane,1122,13311,TEtzbpgA2BFBrC0y0sCbfw,2006-02-15 18:29:35
7,4.33,0,0,0,0,0,0,0,0,0,...,1,NaN,0,"['K_7QSLarEXkufW6F-yl2ag', 'Gq8LMonj0pR6tc0CNbFlgg', 'J5m-LAmCPre8r8IYCd1e8Q', 'O6P_ZXEoYmR0lszNMgP-3w', 'b0ZGXpc6drGGnV8SyTne4w', '_Jyw60jD1P58siy9Ec7xvA', 'nlCoQn9RcuGpcO-9Qh5NFQ', 'WF_8oZpmoM8kJd5C2tDtMA', 'Ctr73t185_fmFadFHXuIpg', 'yagGt84RnsuFUc5GVub_cg', 'BeiEYmgtYsCrGDxV9G1tRA', 'uudYrIIfRHIuZpLOpLM9xw', 'brgQujqWZfP9qf_T2bB4lA', 'x63BDKbVvLYvZAhEV4pI4w', '6GYTh_T71lobcOMksORGWA', 'KUMmlPSp9Mg4Z5Lok760aQ', 'KdKMPJJ6BMtum0V2_LhUuw', 'Bansb1ClheVoSVP9pbrX7Q', '3J0qVaiq2N1jivVeSYG2dA', 'q5QnfTsoiCyrfbgmC3ebwg', 'gHIIqjfw8SWjKYozwjvijg', 'ykAWqfhYdi9N2FC01-NcRA', 'Hu9Q-F8RMDqBlr0_9iODCA', 'fRMCk8hXRV7x5mklz3_Y3g', 'xSOf4RNcvalZbEw7jZDQEQ', 'UCvw5I3TYC0N6Cl1JwpEDQ', 'rOneVT2rNd4M1lZQsXm1ag', 'ztKdCT5La4wX8pOPutJBJQ', 'T_qX_ehIDNQIE-Bk-hQSxw', 'tPrw_SqNkNiURRiyGJCfzg', 'tvcERu4zd4BQzXmczvliJw', 'hazFjLv3rVO_9V9wSQ55Gw', 'WVnjsqGZI7ZJQOi7k6hkMA', '5KqIPdT-fEi9aTxf5gM0xA', 'L1tHbPcmVsG3w3GaixgI4w', 'K8nFTTPzuBTrzMnH4DQBtw', 'kli1cjLhZkTxATbMmcGQcA', 'e9cIB14swxMh31eXyy7pMA', 'wHa6zB...",0,Andre,6,1,KGuqerdeNhxzXZEyBaqqSw,2014-06-07 01:50:09
8,4.21,95,7,95,60,3,16,31,2,72,...,1244,"2006,2007,2008,2009,2010,2011,2012",57,"['9xzla54-1rvaHUcrXXP13A', 'RlXfOTtpgTfcisRmukrGbw', '0XXIv9a0LWiaCjAkurjMMQ', 'hHCPZz3qXDTo1rX_ZC9ZKA', 'JQfpM-wIPWive_FKXoVk-A', 'IHOCvB0ZZ9_pLx509U3tpw', 'D5Auz6JXE30f0qGBHCmmRQ', 'H4JNrBAoyCk_ZMZWbAf8OA', 'S5WQcThM04eH7Eu0YJ1a1Q', 'c8YOUQ1Lz645fopLMNEAnw', 'WD0pchQWVY5tBbPqRq4zjQ', 'nW7kOwA42JlgOufVxprPZw', 'Y6yg0sxJjZg7m2UdF9eGZA', 'Zl1fJNTzNULZiqBRShxUYA', 'M6FnJXAlysOuB3VZ_nyPFQ', 'rDK6Rk-p90JlpUb0QrKVVA', 'Db80SCez0BdYaHdC0xmzoQ', 'kofiqkPOeo1loQHsVbxQXg', 'SIpBqzGhRM7T5cDFiuIryg', 'u1nKqe3vDY8iI13xa4B1Pw', '8eexFIJNOCbVv8JK3gVXqw', 'Cvvu2V_FO3FjxIHpartSMg', 'IDVX4Is4CanREchBmpFXoA', 'uJMTDeih7mW6YXpP18yMNA', 'YThAB7DWpxCLvYJLTkU0PQ', 'mxuQLgASye5mMchJCIpXag', 'O4VXTUdkBcoWC5oTxyIu_Q', 'N4R1uHk5w2mwKqBCoKqfEA', '6Chth4-xjMGgTtaAZkrYxQ', 'P006Tkm3ef0DFCf4bnpl7w', 'tQRw0aZcyns3i2V7PxygKw', 'a8QNaErKMX1GTPfBPaH-bA', 'XaMwHlRaUfsSjBewVAbiQw', 'WJfs5K5BJwnLwNXjHYoBHw', 'fdVCBVz4VWLo2bMbPsco9Q', 'T8Hg9GIF0mQa5tvNKmZL7Q', 'g2YnG8VUb9opaWF6fx6viQ', 'JgPUVaNG4vArVLVO7uR9nw', 'UJcXry...",693,Tanya,859,1630,T0gWkTHWRChVUe_Dn1F8nw,2005-07-20 22:38:17
9,4.53,14,2,14,13,0,3,12,5,8,...,185,NaN,15,"['uAxT_ymDBlvSdnl91xgR6Q', '1vMmzy_K5sdoK9P-mNFJXA', 'i_LnN0D0kdjz7U2kOyiSKQ', 'uc9ITBuspRFkl-S3Bo90dg', 'XLNaiWF21OsAf0fMV6kuSg', 'MHGkW_okZ_1Jx3yuKbQOAg', 'jbGIMoecQm9zG8Ppmx-Y-Q', 'deL6e_z9xqZTIODKqnvRXQ', 'ql4ogqNGYQR1LgIGtfCxbA', 'Q7Z2nf8pqv16MwVUHFRo9Q', 'OTrS7rozJyk74SKCdCUk6g', 'u9w4LOoKYsM00Scb0HCH1w', 'AGm3ROHMRIgCRwiZOwzB1g', 'm91rWRWBkMS9vQ5jhW-_Bg', 'KdKMPJJ6BMtum0V2_LhUuw', 'xMlC25WgoBjmG4oiZI47gg', '5WCAHf5uKkvfa4kYb9Vthw', 'byVHKsvOcWpesjukr9vRmA', 'OIBCDB9Dx3drJ_nWWFpzIA', 'cpyjsCx_O4x_kMJPnp4I5w', 'vfCkf9Svvpw3Yl7-CBHPbg', '0AAugvW9Pyy949XU1T1DHw', 'hxNJ-HR9zMUS5LjvJnbskQ', 'wqQFxOjHpcvQ5aPjyn3YOg', 'zaQ3CFl3fuld4X4vZrpP9A', '405TcA4FnzZyxmUwW7sBDg', '7tpZVkiYuMbDP4-NufK2Iw', 'Db80SCez0BdYaHdC0xmzoQ', 'viklUQ_dpLt93OAdTlgtJA', 'Psot0T3RtOmS0_fiNw0vxQ', 'DiJpFejfyeULrFQ2PGP5kg', 'cs0KKAZICsJGhHc-BODN3A', 'qyeQ-ZEvl2CjxC7hmSFLmw', 'dHsIZKXDShv_HrxWuNgteA', 'RcGMEmid0piAuSOZhnSV5g', 'TOL7tY5WA-2VmQfNjy2iFQ', 'RC5rcL1JVdCD9MYwzan0vw', 'ZKISGjuVAHs9F7M9b5mRZg', '1pD4QN...",70,Trace,124,202,NQffx45eJaeqhFcMadKUQA,2008-12-10 22:59:45

In [58]:
import math

def test(a, b):
    return random.randint(a, b)

test(0, 1)

1